p code {
    background-color: #ede9e4;
}

.highlight {
    background-color: #ede9e4;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    width: 100%;
    overflow-x: scroll;
}
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

@media (prefers-color-scheme: dark) {
    p code {
        background-color: #202020; color: #d0d0d0;
    }
    .highlight .hll { background-color: #404040 }
    .highlight  {
        padding: 1rem 1rem 1rem 1rem;
        margin-bottom: 1rem;
        border-radius: 8px;
        background: #202020; color: #d0d0d0 }
    .highlight .c { color: #999999; font-style: italic } /* Comment */
    .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .highlight .esc { color: #d0d0d0 } /* Escape */
    .highlight .g { color: #d0d0d0 } /* Generic */
    .highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
    .highlight .l { color: #d0d0d0 } /* Literal */
    .highlight .n { color: #d0d0d0 } /* Name */
    .highlight .o { color: #d0d0d0 } /* Operator */
    .highlight .x { color: #d0d0d0 } /* Other */
    .highlight .p { color: #d0d0d0 } /* Punctuation */
    .highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
    .highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
    .highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
    .highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
    .highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
    .highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
    .highlight .gd { color: #d22323 } /* Generic.Deleted */
    .highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
    .highlight .gr { color: #d22323 } /* Generic.Error */
    .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
    .highlight .gi { color: #589819 } /* Generic.Inserted */
    .highlight .go { color: #cccccc } /* Generic.Output */
    .highlight .gp { color: #aaaaaa } /* Generic.Prompt */
    .highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
    .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
    .highlight .gt { color: #d22323 } /* Generic.Traceback */
    .highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
    .highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
    .highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
    .highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
    .highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
    .highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
    .highlight .ld { color: #d0d0d0 } /* Literal.Date */
    .highlight .m { color: #3677a9 } /* Literal.Number */
    .highlight .s { color: #ed9d13 } /* Literal.String */
    .highlight .na { color: #bbbbbb } /* Name.Attribute */
    .highlight .nb { color: #24909d } /* Name.Builtin */
    .highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
    .highlight .no { color: #40ffff } /* Name.Constant */
    .highlight .nd { color: #ffa500 } /* Name.Decorator */
    .highlight .ni { color: #d0d0d0 } /* Name.Entity */
    .highlight .ne { color: #bbbbbb } /* Name.Exception */
    .highlight .nf { color: #447fcf } /* Name.Function */
    .highlight .nl { color: #d0d0d0 } /* Name.Label */
    .highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
    .highlight .nx { color: #d0d0d0 } /* Name.Other */
    .highlight .py { color: #d0d0d0 } /* Name.Property */
    .highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
    .highlight .nv { color: #40ffff } /* Name.Variable */
    .highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
    .highlight .w { color: #666666 } /* Text.Whitespace */
    .highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
    .highlight .mf { color: #3677a9 } /* Literal.Number.Float */
    .highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
    .highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
    .highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
    .highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
    .highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
    .highlight .sc { color: #ed9d13 } /* Literal.String.Char */
    .highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
    .highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
    .highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
    .highlight .se { color: #ed9d13 } /* Literal.String.Escape */
    .highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
    .highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
    .highlight .sx { color: #ffa500 } /* Literal.String.Other */
    .highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
    .highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
    .highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
    .highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
    .highlight .fm { color: #447fcf } /* Name.Function.Magic */
    .highlight .vc { color: #40ffff } /* Name.Variable.Class */
    .highlight .vg { color: #40ffff } /* Name.Variable.Global */
    .highlight .vi { color: #40ffff } /* Name.Variable.Instance */
    .highlight .vm { color: #40ffff } /* Name.Variable.Magic */
    .highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
}